body{
	background-color: orange;
}

#juego{
	width: 1200px;
	height: 350px;
	background-color: #808080;
	border: solid 5px;
}

#mapa{
	height: 350px;
	width: 1200px;
}

input{
	background-color: #808080;
	border: solid 0px;
}

#fotos{
	height: 300px;
	width: 500px;
}