body{
	background-color: blue;
}

#juego{
	width: 1200px;
	height: 350px;
	background-color: orange;
	border: solid 5px;
}

#mapa{
	height: 350px;
	width: 1200px;
}

input{
	background-color: orange;
	border: solid 0px;
}

#fotos{
	height: 300px;
	width: 500px;
}

#startGame{
	background-color: black;
	color: white;
}

#stopGame{
	background-color: black;
	color: white;
}

#abortGame{
	background-color: black;
	color: white;
}
#startGame{
	background-color: black;
	color: white;
}

#games{
	background-color: black;
	color: white;
}

#nivel{
	background-color: black;
	color: white;
}
form, input{
	font-size: 13pt;
}